
@{
    ViewBag.Title = "Accounts";
}

<div class="container">
    <h2>Accounts</h2>

    <table class="table">
        <tr>
            <th width="100px" >ID</th>
            <th width="150px" class="text-center">Currency</th>
            <th style="width: 200px" class="text-center">MoneyAmount</th>
        </tr>
        @foreach (var acc in ViewBag.Accounts)
        {
            <tr>
                <td>@acc.id</td>
                <td class="text-center">
                    <b>@acc.currency</b>
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModalCurency">Change cuurency</button>
                    <div id="myModalCurency" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-left">Changing currency</h4>
                                </div>
                                @using (Html.BeginForm("ChangeCurrency", "Accounts", FormMethod.Post))
                                {
                                    <div class="modal-body text-left">
                                        <p>Choose new currency</p>
                                        <p>All currencies are autimaticly converted to current exchange rates</p>
                                        <div class="form-group">
                                            <select name="Currency" class="form-control">
                                                @foreach (string currency in ViewBag.currencies) 
                                                {
                                                    if (acc.Currency == currency)
                                                    {
                                                        <option value="@currency" selected>@currency</option>
                                                    } 
                                                    else 
                                                    {
                                                        <option value="@currency">@currency</option>
                                                    }
                                                }
                                            </select>
                                            @*@Html.DropDownList("Currency", ViewBag.currencies as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control mt-2" })*@
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                        <input type="hidden" name="id" value="@acc.id" />
                                        <button style="float: left;" class='btn btn-info' runat="server" type="submit" id="modal-btn-dec">
                                            Go
                                        </button>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </td>
                <td>
                    <div class="row text-center">@acc.MoneyAmount</div>
                    <div class="row">

                        <div class="col-md-6 col-lg-6 col-sm-6 text-right">
                            <button type="button" class="btn btn btn-default" data-toggle="modal" data-target="#myModalDec">-</button>
                            <div id="myModalDec" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-left">Amount decreasing</h4>
                                        </div>
                                        @using (Html.BeginForm("DecreaseAmount", "Accounts", FormMethod.Post))
                                        {
                                            <div class="modal-body text-left">
                                                <p>Enter the amount you want to decrease</p>
                                                <div class="form-group">
                                                    <input class="form-control" type="number" min="0" name="MoneyAmount" max="@acc.MoneyAmount" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                                <input type="hidden" name="id" value="@acc.id" />
                                                <button style="float: left;" class='btn btn-info' runat="server" type="submit" id="modal-btn-dec">
                                                    Go
                                                </button>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6 ">
                            <button type="button" class="btn btn btn-default" data-toggle="modal" data-target="#myModalInc">+</button>
                            <div id="myModalInc" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-left">Amount increasing</h4>
                                        </div>
                                        @using (Html.BeginForm("IncreaseAmount", "Accounts", FormMethod.Post))
                                        {
                                            <div class="modal-body text-left">
                                                <p>Enter the amount you want to increase</p>
                                                <div class="form-group">
                                                    <input class="form-control" type="number" min="0" name="MoneyAmount" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                                <input type="hidden" name="id" value="@acc.id" />
                                                <button style="float: left;" class='btn btn-info' runat="server" type="submit" id="modal-btn-inc">
                                                    Go
                                                </button>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Are you sure?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Do you want to delelte account?</p>
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm("Delete", "Accounts", FormMethod.Post))
                                    {
                                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        <input type="hidden" name="id" value="@acc.id" />
                                        <button style="float: left;" class='btn btn-danger' runat="server" type="submit">
                                            Yes
                                        </button>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    <span>
        <a href="/Accounts/NewAccount">
            <button class="btn btn-default">
                Add account
                @*@Html.ActionLink("Add account", "NewAccount", "Accounts")*@
            </button>
        </a>
        <asp:Button runat="server" class="btn btn-info" onclick="Transfer_click">Transfer money</asp:Button>
    </span>
</div>

